.search {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  margin-bottom: 32px;

  .search-input {
    width: 579px;
    margin-right: 16px;
  }
}

.divide-line {
  margin-left: -24px;
  margin-right: -24px;
}
