<div class="search">
  <div class="search-bar">
    <tui-input
      [(ngModel)]="searchValue"
      tuiTextfieldIconLeft="tuiIconSearch"
      class="search-input"
    >
      Name, fragment or date
      <input tuiTextfield />
    </tui-input>

    <button
      (click)="onClickSearch(searchValue)"
      appearance="secondary"
      class="search-button"
      size="l" tuiButton
    >
      Search
    </button>
  </div>

  <button
    class="add-course-button"
    icon="tuiIconPlus"
    size="l"
    tuiButton
  >
    Add course
  </button>
</div>
