<div class="search">
  <div class="search-bar">
    <tui-input
      [(ngModel)]="searchText"
      tuiTextfieldIconLeft="tuiIconSearch"
      class="search-input"
      (keydown)="onKeydown($event)"
    >
      Name, fragment or date
      <input tuiTextfield />
    </tui-input>

    <button
      (click)="onClickSearch()"
      appearance="secondary"
      class="search-button"
      size="l" tuiButton
      data-automation-id="search-button"
    >
      Search
    </button>
  </div>

  <button
    class="add-course-button"
    icon="tuiIconPlus"
    size="l"
    tuiButton
  >
    Add course
  </button>
</div>
<hr class="divide-line">
