<div class="course-list" *ngIf="(courses$ | async)!.length > 0; else noDataBlock">
    <app-course
        *ngFor="let course of courses$ | async"
        [course]="course"
        (courseDeleted)="onCourseDeleted($event, deleteDialog)"
    ></app-course>
    <app-load-more></app-load-more>
</div>

<ng-template #noDataBlock>
<div class="no-data">
  <tui-marker-icon
    new
    mode="link"
    size="xxl"
    src="tuiIconAlertCircleLarge"
    class="icon"
  ></tui-marker-icon>
  <p class="text tui-text_h1">Looking for a course?</p>
  <p class="advice tui-text_body-s-2">Just type in the course name in the search bar above. Happy learning!</p>
</div>
</ng-template>


<ng-template
    #deleteDialog
    let-observer
>
    <p>Do you really want to delete this course?</p>
    <button
        tuiButton
        type="button"
        size="m"
        class="tui-space_right-3"
        appearance="secondary-destructive"
        (click)="observer.next(true); observer.complete()"
    >
        Yes
    </button>
    <button
        tuiButton
        type="button"
        size="m"
        (click)="observer.next(false); observer.complete()"
        appearance="secondary"
    >
        Cancel
    </button>
</ng-template>
