<div class="root">
    <app-header></app-header>
    <div class="content">
        <div class="add-course">
            <h1>New course</h1>
            <form [formGroup]="courseForm">
                <div class="title">
                    <label tuiLabel="Title">
                        <tui-input
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            class="title-input"
                            formControlName="title"
                            required
                        >
                            <input tuiTextfield/>
                        </tui-input>
                        <tui-error
                            [error]="[] | tuiFieldError | async"
                            formControlName="title"
                        ></tui-error>
                    </label>
                </div>
                <div class="description">
                    <label tuiLabel="Description">
                        <tui-text-area
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            class="description-textarea"
                            formControlName="description"
                            required
                        >
                        </tui-text-area>
                        <tui-error
                            [error]="[] | tuiFieldError | async"
                            formControlName="description"
                        ></tui-error>
                    </label>
                </div>
                <div class="date-and-duration">
                    <div class="date">
                        <label tuiLabel="Date">
                            <tui-input-date
                                [tuiTextfieldLabelOutside]="true"
                                class="date-input"
                                formControlName="publicationDate"
                                required
                            >
                                dd.mm.yyyy
                            </tui-input-date>
                            <tui-error
                                [error]="[] | tuiFieldError | async"
                                formControlName="publicationDate"
                            ></tui-error>
                        </label>
                    </div>

                    <div class="duration">
                        <div class="duration-input-badge">
                            <label tuiLabel="Duration">
                                <tui-input-number
                                    [tuiTextfieldCleaner]="true"
                                    [tuiTextfieldLabelOutside]="true"
                                    class="duration-input"
                                    formControlName="duration"
                                    required
                                >
                                    In minutes
                                </tui-input-number>
                                <tui-error
                                    [error]="[] | tuiFieldError | async"
                                    formControlName="duration"
                                ></tui-error>
                            </label>

                            <div class="duration-badge">
                                <label
                                    class="badge tui-text_body-m-2"
                                >{{ courseForm.value.duration | duration }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="authors">
                    <label tuiLabel="Authors">
                        <tui-multi-select
                            *tuiLet="filteredAuthors$ | async as items"
                            [expandable]="true"
                            [tuiTextfieldLabelOutside]="true"
                            (keydown.enter)="onEnterCreateAuthor($event);"
                            (searchChange)="onSearchChange($event)"
                            class="b-form authors-input"
                            formControlName="authors"
                        >
                            <tui-data-list-wrapper
                                *tuiDataList
                                [items]="items"
                            ></tui-data-list-wrapper>
                        </tui-multi-select>
                        <tui-error
                            [error]="[] | tuiFieldError | async"
                            formControlName="authors"
                        ></tui-error>
                    </label>
                </div>
                <div class="buttons">
                    <button
                        (click)="onSubmitClicked()"
                        [disabled]="!courseForm.valid"
                        appearance="primary"
                        class="save-btn"
                        size="l"
                        tuiButton
                    >
                        Save
                    </button>
                    <button
                        (click)="onCancelClicked()"
                        appearance="secondary"
                        class="cancel-btn"
                        size="l"
                        tuiButton
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
