.add-course {
    width: 524px;
    h1 {
        margin-bottom: 24px;
    }

    .title {
        margin-bottom: 20px;
    }

    .description {
        margin-bottom: 20px;
    }

    .date-and-duration {
        margin-bottom: 20px;
    }

    .authors {
        margin-bottom: 32px;
    }

    .buttons {
        .save-btn {
            margin-right: 20px;
        }
    }

}
