<div class="root">
    <app-header></app-header>
    <div class="content">
        <div class="add-course">
            <h1>New course</h1>
            <div class="title">
                <label tuiLabel="Title">
                    <tui-input
                        [(ngModel)]="course.title"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                        class="title-input"
                        required
                    >
                        <input tuiTextfield/>
                    </tui-input>
                </label>
            </div>
            <div class="description">
                <label tuiLabel="Description">
                    <tui-text-area
                        [(ngModel)]="course.description"
                        [tuiTextfieldCleaner]="true"
                        [tuiTextfieldLabelOutside]="true"
                        class="description-textarea"
                        required
                    >
                    </tui-text-area>
                </label>
            </div>
            <div class="date-and-duration">
                <div class="date">
                    <label tuiLabel="Date">
                        <tui-input-date
                            [(ngModel)]="course.publicationDate"
                            [tuiTextfieldLabelOutside]="true"
                            class="date-input"
                            required
                        >
                            dd.mm.yyyy
                        </tui-input-date>
                    </label>
                </div>

                <div class="duration">
                    <div class="duration-input-badge">
                        <label tuiLabel="Duration">
                            <tui-input-number
                                [(ngModel)]="course.duration"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                                class="duration-input"
                                required
                            >
                                In minutes
                            </tui-input-number>
                        </label>

                        <div class="duration-badge">
                            <label
                                class="badge tui-text_body-m-2"
                            >{{ course.duration | duration }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="authors">
                <label tuiLabel="Authors">
                    <tui-multi-select
                        (keydown.enter)="onEnterCreateAuthor($event);"
                        (searchChange)="onSearchChange($event)"
                        *tuiLet="items$ | async as items"
                        [expandable]="true"
                        [formControl]="authorsFormControl"
                        [tuiTextfieldLabelOutside]="true"
                        class="b-form authors-input"
                    >
                        <tui-data-list-wrapper
                            *tuiDataList
                            [items]="items"
                        ></tui-data-list-wrapper>
                    </tui-multi-select>
                </label>
            </div>
            <div class="buttons">
                <button
                    (click)="onSubmitClicked()"
                    appearance="primary"
                    class="save-btn"
                    size="l"
                    tuiButton
                >
                    Save
                </button>
                <button
                    (click)="onCancelClicked()"
                    appearance="secondary"
                    class="cancel-btn"
                    size="l"
                    tuiButton
                >
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
