.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  background-color: #932f2f;
  flex: 1;
  padding-bottom: 104px;
}

.app-footer {
  margin-left: 104px;
  height: 104px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
