<div class="root">
    <app-header></app-header>
    <div class="content">
        <div class="edit-course">
            <h1>Edit course</h1>
            <form [formGroup]="courseForm">
            <table class="tui-table course-info tui-table_size_l">
                <tbody>
                <tr class="tui-table__tr tui-table__tr_border_none tui-table__tr_hover_disabled">
                    <td class="tui-table__td left-column">Title</td>
                    <td class="tui-table__td">{{courseForm.value.title | titlecase}}</td>
                </tr>
                <tr class="tui-table__tr tui-table__tr_border_top tui-table__tr_hover_disabled">
                    <td class="tui-table__td left-column">Date</td>
                    <td class="tui-table__td">{{courseForm.value.publicationDate}}</td>
                </tr>
                <tr class="tui-table__tr tui-table__tr_border_top tui-table__tr_hover_disabled">
                    <td class="tui-table__td left-column">Duration</td>
                    <td class="tui-table__td">{{courseForm.value.duration | duration}}</td>
                </tr>
                </tbody>
            </table>
                <div class="description">
                    <label tuiLabel="Description">
                        <tui-text-area
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            formControlName="description"
                            class="description-textarea"
                            required
                        >
                        </tui-text-area>
                    </label>
                </div>
                <div class="authors">
                    <label tuiLabel="Authors">
                        <tui-multi-select
                            *tuiLet="items$ | async as items"
                            [expandable]="true"
                            [tuiTextfieldLabelOutside]="true"
                            (searchChange)="onSearchChange($event)"
                            (keydown.enter)="onEnterCreateAuthor($event);"
                            formControlName="authors"
                            class="b-form authors-input"
                        >
                            <tui-data-list-wrapper
                                *tuiDataList
                                [items]="items"
                            ></tui-data-list-wrapper>
                        </tui-multi-select>
                    </label>
                </div>
                <div class="buttons">
                <button
                    [disabled]="!courseForm.valid"
                    (click)="onClickSave(courseForm.value)"
                    appearance="primary"
                    class="save-btn"
                    size="l"
                    tuiButton
                >
                    Save
                </button>
                <button
                    (click)="onClickCancel()"
                    appearance="secondary"
                    class="cancel-btn"
                    size="l"
                    tuiButton
                >
                    Cancel
                </button>
            </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
